body{
  background-color: aquamarine;
}
.App {
text-align: center;

}
.header{
 
  background-color:#809cf3;
  text-align: center;
  padding: 20px;
  margin:10px;
  border-radius: 10px;
}
.input{
    width: 45vw;
    height: 20px;
    padding: 3px;
    font-size: 1.4rem;
    border: 0px solid gray;
    border-radius: 10px 0px 0px 10px;
}
.airport{
  display: inline-block;
  background-color: #92CEBC;
  padding: 20px;
  border: 10px solid rgb(123, 211, 205);
  border-radius: 10px;
  margin: 10px;
}
.btn{
  background-color: skyblue;
  border: none;
  font-size: 1.4rem;
  border-radius: 0px 10px 10px 0px;
}