body{
  background-color: aquamarine;
}
.App {
text-align: center;

}
.header{
 
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px;
  margin:10px;
  border-radius: 10px;
}
.input{
    width: 45vw;
    height: 20px;
    padding: 3px;
    font-size: 1.4rem;
    border: 1px solid gray;
}
.airport{
  display: inline-block;
  background-color: rgb(232, 244, 100);
  padding: 20px;
  border: 10px solid rgb(123, 211, 205);
  border-radius: 10px;
}